{% unless page.no_header %}
{% if index %}
  <div class="row">
    <div class="col-md-2 post-meta">


      <div class="row-fluid">
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
            <a href="{% if index %}{{ site.url }}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments </a> <i class="fa fa-comments-o" style="color: #3ba9c4 !important;"></i>
        {% endif %}
      </div>
{% assign date_str = (post.date) %}
<span class="badge name-badge">{{ post.date | date: "%d %B %Y" }}</span>
      {% if post.categories %}
        <div class="row-fluid">
            {% for category in post.categories %}
            <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/"><span class="label label-warning">{{ category }}</span></a>
            {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-md-10 post-container">
      <h1 class="link">
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
          <span class="badge name-badge">{{ post.author }}</span>

      </h1>
      {{ content | excerpt }}
      {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
      {% if excerpted == 'true' %} <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a> {% endif %}
    </div>
  </div>
{% else %}

  <div class="row-fluid">
    <div class="span12">
      {{ content }}
    </div>
  </div>
{% endif %}
{% endunless %}
