// Customize the colors of Octoflat Here

$primary-color:      #121213; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #34495e; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     rgba(146, 139, 139, 0.68); // Hover-over color, Active Page color
$accent-color1:      #ffffff; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #f8f8f8; // Background
$navbar-color:       #34495e; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer
